.navigationbar-wrapper {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  background-color: orangered;
//  padding: 2%;
  max-height: min-content;
}

.logotype {
  width: 100px;
  cursor: pointer;
  justify-self: center;
	align-self: center;
}

.navigation-link {
  cursor: pointer;
}

.sign-in{
	grid-column: 9/11;
	justify-self: center;
	align-self: center;
}